/* Globals */
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue.ttf");
}

:root {
  --white: #fff;
  --beige: #f9f4ea;
  --sand-20: rgba(232, 196, 122, 0.2);
  --brown-grey: #979797;
  --pumpkin-90: rgba(222, 146, 0, 0.9);
  --sand-80: rgba(232, 196, 122, 0.8);
  --black: #000;
  --light-tan: #f7e0b2;
}

html {
  font-size: 16px;
  font-family: "HelveticaNeue";
  letter-spacing: 2px;
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  font-weight: 100;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0.7rem;
  }
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 35rem;
}

.brand {
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  /* margin: 0.9rem 0;
  margin-left: 9rem; */
}

@media (max-width: 768px) {
  .brand {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.brand a img {
  margin: 0 0.5rem;
}

/* Header nav */
.pages-nav img {
  display: none;
}

@media (max-width: 768px) {
  .pages-nav img {
    display: block;
    margin: 0.2rem;
  }
}

.pages-nav .menu {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.pages-nav ul {
  list-style: none;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .pages-nav ul {
    display: none;
  }
}

.pages-nav ul li {
  float: right;
}

.pages-nav ul li:first-child {
  margin-left: 1rem;
}

.page_item {
  font-size: 1.125rem;
  display: inline-block;
}

.page_item a {
  text-decoration: none;
  color: #000;
}

/* Header search */

.header .search {
  display: flex;
  align-items: center;
  position: relative;
}

.header .search-input {
  border: 1.5px solid var(--brown-grey);
  border-radius: 4px;
  width: 14rem;
  padding: 0.5rem 0.5rem;
  padding-right: 5rem;
}

@media (max-width: 768px) {
  .header .search {
    margin: 0;
  }

  .header .search-input {
    display: none;
  }

  .header .search img {
    margin: 0;
  }
}

.header .search img {
  position: absolute;
  right: 10px;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .header .search {
    right: -1;
  }
  .header .user .search img {
    margin: 0;
  }
}

/* Header user section */
.header .user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .header .user {
    grid-area: 1 / 3 / 2 / 4;
    justify-content: end;
  }
}

.header .user img {
  margin: 0 1rem;
}
.header .user img:last-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .header .user img {
    margin: 0 1rem;
  }
}

/* Hero */
.hero {
  position: relative;
}

.hero .hero-text {
  font-size: 2.313rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.88);
  text-align: center;
  width: max-content;
  padding: 3.5rem 11rem;
}

@media (max-width: 768px) {
  .hero .hero-text {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
}

.hero .hero-text .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem 3rem 0.5rem 3rem;
}

.hero .hero-text .search .search-input {
  border: 1.5px solid var(--brown-grey);
  border-radius: 4px;
  width: 21rem;
  padding: 0.5rem 2rem;
  background-color: hsla(0, 0%, 0%, 0); /* transparent background */
  opacity: 0.9;
  height: 1.4rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

.hero .search img {
  height: 1.5rem;
  left: 0.5rem;
  position: absolute;
}

/* Restaurants Section */

.restaurants {
  margin-top: 10rem;
}

.restaurants .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.restaurants-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.restaurant-card {
  background-color: var(--beige);
  text-align: center;
  margin: 0.4rem;
}

.restaurant-card img {
  height: 14rem;
}

.restaurant-card h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  margin-top: 1rem;
}

.restaurant-card p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.all-restaurants {
  float: right;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
}

/* Dishes Section */

.dishes {
  margin-top: 5rem;
}

.dishes-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dish-card-content {
  background-color: var(--beige);
  text-align: center;
  height: 30rem;
  position: relative;
}

.dish-card h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  margin-top: 1rem;
}

.dish-card p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.all-dishes {
  float: right;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
}

.dish-info-icon {
  margin: 2rem 0;
}

/* price with lines */
.price {
  overflow: hidden;
  text-align: center;
  margin: 0 1rem;
}
.price > span {
  position: relative;
  display: inline-block;
}
.price > span:before,
.price > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid var(--brown-grey);
  width: 100vw;
  margin: 0 20px;
}
.price > span:before {
  right: 100%;
}
.price > span:after {
  left: 100%;
}

/* Icon Definitions */

.icon-definitions {
  background-color: #fafafa;
  opacity: 0.9;
  padding: 1rem 5rem;
  margin-top: 3rem;
}

.icon-definitions ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 10rem;
  padding: 0;
}

.icon-definitions ul li {
  margin: 0 2rem;
}

/* Chef of the week  section*/

.chef-of-the-week {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.chef-of-the-week h1 {
  grid-area: 1 / 2 / 2 / 3;
}

.chef-of-the-week .chef-image {
  position: relative;
}

.chef-of-the-week .chef-name {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0;
}

.chef-info {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: space-between;
}

.chef-info p {
  font-size: larger;
  text-align: justify;
  margin: 0 2rem;
}

.chef-of-the-week .container {
  grid-area: 3 / 2 / 4 / 3;
}

.chef-of-the-week .container .restaurants-list {
  list-style: none;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding: 0;
}

/* ABOUT US Section */

.about-us {
  background-color: #fafafa;
  padding: 1rem 6rem;
}

.about-us .container {
  display: flex;
  align-items: center;
}

.about-us .container .about-us-info {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
}

.about-us .container .about-us-brand {
  margin: 0 5rem;
}

.about-us .container .about-us-brand a {
  text-decoration: none;
  color: black;
}

.about-us .container .about-us-brand img {
  height: 6rem;
}

.about-us .buttons {
  display: flex;
}

.about-us .buttons .download-button:first-child {
  margin-right: 1rem;
}

.download-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.3rem;
  justify-content: space-evenly;
  text-decoration: none;
  color: #000;
}

.download-button a span {
  margin: 0 0.5rem;
}

.download-button a span div {
  font-weight: bolder;
  font-size: larger;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
}

footer div a {
  text-decoration: none;
  color: #000;
}
